@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro");

body {
  font-family: Source Sans Pro;
  font-style: normal;
}

p {
  font-size: 32px;
}

nav {
  box-shadow: none !important;
}

.card {
  width: 90%;
  -moz-transition: transform 0.5s; /* Firefox 4 */
  -webkit-transition: transform 0.5s; /* Safari and Chrome */
  -o-transition: transform 0.5s; /* Opera */
  -ms-transition: transform 0.5s; /* Explorer 10 */
  transition: transform 0.5s;
  transition: all 0.5s cubic-bezier(.25, .8, .25, 1);
}

.card:hover {
  -moz-transform: translate(0px, -10px); /* Firefox 4 */
  -webkit-transform: translate(0px, -10px); /* Safari and Chrome */
  -o-transform: translate(0px, -10px); /* Opera */
  -ms-transform: translate(0px, -10px); /* Explorer 10 */
  transform: translate(0px, -10px);
  box-shadow: 0 20px 25px rgba(0, 0, 0, 0.25);
}

.card-content p{
  font-size: 14px;
}

nav ul li a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #1C4273;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav ul li a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

nav ul li a {
  font-size: 24px;
  position: relative;
  color: #1C4273;
  text-decoration: none;
  transition: color .5s;
}

nav ul li a:hover {
  color: #1C4273;
  background-color: white !important;
  color: #1C4273 !important;
}

.bold {
  color: black;
  font-style: bold;
  font-size: 64px;
  line-height: 80px;
  align-content: center;
}

nav ul a {
  margin-right: 75px;
  color: #555555 !important;
}

nav .brand-logo {
  margin-left: 100px;
  color: #555555 !important;
}

div .title {
  font-weight: bold;
  line-height: normal;
  font-size: 64px;
  margin-top: 1em;
  color: #000000;
}

.icon {
  margin-right: 20px;
  transition: color .5s;
  color: black;
}

.icon:hover {
  color: #787878;
}

.rounded-image {
  border-radius: 15px;
  display: block;
  margin-block-start: 3em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.profile {

  align-content: center;
  justify-content: center;
  margin-top: 40px;
  margin-right: 42px;
}
.name {
  font-size: 20px;
}
.sub {
  font-size: 18px;
  color: #686868;
}
.profile-section{
  flex-wrap: wrap;
  justify-content: space-evenly;
  display: flex;
  margin-top: 50px;
}

.overlay-black {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s;
  background-color: black;
}

.profile-img img{
  width: 200px;
  height: 200px;
}

.profile-img{
  width: 200px;
  height: 200px;
  position: relative;
  align-self: center;
  justify-content: center;
}

.profile-img:hover .overlay-black {
  opacity: .5;
}
.profile-img:hover .profile-icon {
  opacity: 1;
}

.profile-icon {
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transition: .5s;
}


#white-button {
  margin-bottom: 20px;
  margin-right: 20px;
  font-weight: normal;
  font-size: 24px;
  display: inline-block;
  border: 2px solid #000000;
  border-radius: 99999px;
  text-align: center;
}

#white-button:hover {
  background: #000000;
  color: #FFFFFF;
}

#black-button {
  margin-bottom: 20px;
  margin-right: 20px;
  font-size: 24px;
  font-weight: normal;
  display: inline-block;
  border: 2px solid #000000;
  background: #000000;
  border-radius: 99999px;
  color: #FFFFFF;
  text-align: center;
}

#black-button:hover {
  color: black;
  background: #FFFFFF;
}
