.overlay-black {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s;
  background-color: black;
}

.profile-img {
  width: 200px;
  height: 200px;
  position: relative;
  align-self: center;
  justify-content: center;
}

.profile-img:hover .overlay-black {
  opacity: .5;
}
.profile-img:hover .profile-icon {
  opacity: 1;
}

.profile-icon {
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  text-align: center;
  opacity: 0;
  transition: .5s;
}

.profile {
  align-content: center;
  justify-content: center;
  margin-top: 40px;
  margin-right: 42px;
}

.name {
  font-size: 20px;
}
.sub {
  font-size: 18px;
  color: #686868;
}
